---
layout: default
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru"
  itemscope="" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <section>
      {{ content }}
      <footer>
        &copy; 0DOCS, 2025
      </footer>
    </section>
  </body>
</html>